# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Authelia paths exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ authelia_uid }}"
    group: "{{ authelia_gid }}"
  with_items:
    - "{{ authelia_base_path }}"
    - "{{ authelia_config_path }}"
    - "{{ authelia_data_path }}"

- name: Ensure Authelia support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ authelia_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ authelia_uid }}"
    group: "{{ authelia_gid }}"
  with_items:
    - env
    - labels

- name: Ensure Authelia configuration file installed
  ansible.builtin.copy:
    content: "{{ authelia_configuration | to_nice_yaml(indent=2, width=999999) }}"
    dest: "{{ authelia_config_path }}/configuration.yml"
    mode: "0640"
    owner: "{{ authelia_uid }}"
    group: "{{ authelia_gid }}"

- name: Ensure Authelia user database installed
  when: authelia_config_authentication_backend_file_content != ''
  ansible.builtin.copy:
    # We intentionally parse and reformat YAML to ensure it's valid and potentially choke early (during playbook run).
    content: "{{ authelia_config_authentication_backend_file_content | from_yaml | to_nice_yaml(indent=2, width=999999) }}"
    dest: "{{ authelia_config_user_database_path }}"
    mode: "0640"
    owner: "{{ authelia_uid }}"
    group: "{{ authelia_gid }}"

- name: Ensure Authelia user database purged
  when: authelia_config_authentication_backend_file_content == ''
  ansible.builtin.file:
    path: "{{ authelia_config_user_database_path }}"
    state: absent

- name: Ensure Authelia container image is pulled via community.docker.docker_image
  when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
  community.docker.docker_image:
    name: "{{ authelia_container_image }}"
    source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
    force_source: "{{ authelia_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
    force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else authelia_container_image_force_pull }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed

- name: Ensure Authelia container image is pulled via ansible.builtin.command
  when: devture_systemd_docker_base_container_image_pull_method == 'command'
  ansible.builtin.command:
    cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ authelia_container_image }}"
  register: result
  retries: "{{ devture_playbook_help_container_retries_count }}"
  delay: "{{ devture_playbook_help_container_retries_delay }}"
  until: result is not failed
  changed_when: "'Downloaded newer image' in result.stdout"

- name: Ensure Authelia container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ authelia_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: authelia_network_creation_result

- name: Ensure Authelia container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ authelia_container_network }}
  register: authelia_network_creation_result
  changed_when: authelia_network_creation_result.rc == 0
  failed_when: authelia_network_creation_result.rc != 0 and 'already exists' not in authelia_network_creation_result.stderr

- name: Ensure Authelia systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/authelia.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ authelia_identifier }}.service"
    mode: "0644"
