---

- name: Check existence of authelia systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ authelia_identifier }}.service"
  register: authelia_service_stat

- when: authelia_service_stat.stat.exists | bool
  block:
    - name: Ensure authelia systemd service is stopped
      ansible.builtin.service:
        name: "{{ authelia_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure authelia systemd service does not exists
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ authelia_identifier }}.service"
        state: absent

    - name: Ensure authelia path doesn't exist
      ansible.builtin.file:
        path: "{{ authelia_base_path }}"
        state: absent
