---

- name: Fail if required authelia settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item }}`).
  when: "vars[item] == ''"
  with_items:
    - authelia_identifier
    - authelia_uid
    - authelia_gid
    - authelia_hostname
    - authelia_path_prefix
    - authelia_container_network
    - authelia_config_jwt_secret
    - authelia_config_session_domain
    - authelia_config_session_secret
    - authelia_config_storage_encryption_key

- name: Fail if encryption key is too short
  fail:
    msg: "authelia_config_storage_encryption_key needs to be 20 chars or more"
  when: authelia_config_storage_encryption_key | length < 20

- name: Fail if no notifier is enabled
  fail:
    msg: >-
      Authelia requires either the SMTP notifier or filesystem-based notifier configured.
      You need to set either `authelia_config_notifier_filesystem_filename` or
      a bunch of `authelia_config_notifier_smtp_*` variables.
  when: "authelia_config_notifier_filesystem_filename == '' and authelia_config_notifier_smtp_host == ''"

# We only check that at least one authentication backend is enabled.
# Enabling multiple will cause a problem at runtime, but our validation logic does not cover this edge case.
- name: Fail if not authentication_backend is enabled
  fail:
    msg: >-
      Authelia requires either the LDAP authentication backend or the file-based authentication backend to be configured.
      You need to set either `authelia_config_authentication_backend_file_path` or
      a bunch of `authelia_config_authentication_backend_ldap_*` variables.
  when: "authelia_config_authentication_backend_file_path == '' and authelia_config_authentication_backend_ldap_url == ''"

# We only check that at least one storage provider is enabled.
# Enabling multiple will cause a problem at runtime, but our validation logic does not cover this edge case.
- name: Fail if no storage provider is enabled
  fail:
    msg: >-
      Authelia requires that one storage provider by enabled.
      You need to set either `authelia_config_storage_local_path` or
      a bunch of `authelia_config_storage_mysql_*` variables or
      a bunch of `authelia_config_storage_postgres_*` variables.
  when: "authelia_config_authentication_backend_file_path == '' and authelia_config_storage_mysql_host == '' and authelia_config_storage_postgres_host == ''"

- name: Fail if OpenID Connect enabled, but required authelia_config_identity_providers_oidc_issuer_private_key is not set
  fail:
    msg: |
      Your configuration defines at least one OpenID Connect client in `authelia_config_identity_providers_oidc_clients`, so OpenID Connect support is enabled.
      Authelia requires `authelia_config_identity_providers_oidc_issuer_private_key` to be specified when OpenID Connect is enabled.
  when: "authelia_config_identity_providers_oidc_clients | length > 0 and authelia_config_identity_providers_oidc_issuer_private_key == ''"

- name: Fail if path prefix is not /
  fail:
    msg: >-
      Authelia does not support being hosted at a subpath right now.
      authelia_path_prefix must be set to `/`.
  when: "authelia_path_prefix != '/'"

- when: authelia_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required authelia Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "vars[item] == ''"
      with_items:
        - authelia_container_labels_traefik_hostname
        - authelia_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `authelia_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if authelia_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          authelia_container_labels_traefik_path_prefix (`{{ authelia_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/authelia`).
      when: "authelia_container_labels_traefik_path_prefix != '/' and authelia_container_labels_traefik_path_prefix[-1] == '/'"
